.article-body {
    word-break: break-word;
    line-height: 1.9;
    font-weight: 400;
    font-size: 15px;
    overflow-x: hidden;
    font-size: 14px;
    a {
        color: #0269c8;
        border-bottom: 1px solid #d1e9ff;
    }
    h1 {
        margin: 1.3rem 0;
        line-height: 1.2;
    }
    p {
        line-height: 1.9;
    }
    hr {
        border: none;
        border-top: 1px solid #ddd;
        margin-top: 2.7rem;
        margin-bottom: 2.7rem;
    }
    embed,
    iframe,
    img:not(.equation),
    video {
        max-width: 100% !important;
        margin: 0;
    }
    img {
        max-height: none;
    }
    img.lazyload {
        visibility: hidden;
    }
    img.inited {
        background-color: #f8f9fa;
        background-position: 50%;
        background-repeat: no-repeat;
        visibility: visible;
    }
    img.loaded {
        background-image: none;
        background-color: transparent;
    }
    img.error {
        background-image: url(https://b-gold-cdn.xitu.io/v3/static/img/image-error.3338abe.png);
    }
    img.equation {
        margin: 0 0.1em;
        max-width: 100% !important;
        vertical-align: text-bottom;
    }
    img:not(.equation) {
        cursor: zoom-in;
    }
    figure figcaption {
        text-align: center;
        font-size: 1rem;
        line-height: 2.7rem;
        color: #909090;
    }
    figure {
        margin: 2.7rem auto;
        text-align: center;
    }
    pre {
        line-height: 1.93rem;
        overflow: auto;
    }
    code,
    pre {
        font-family: Menlo, Monaco, Consolas, Courier New, monospace;
    }
    pre > code {
        font-size: 13px;
        padding: 10px;
        margin: 0;
        word-break: normal;
        display: block;
    }
    a {
        color: #259;
    }
    a:active,
    a:hover {
        color: #275b8c;
    }
    table {
        display: inline-block !important;
        font-size: 1rem;
        width: auto;
        max-width: 100%;
        overflow: auto;
        border: 1px solid #f6f6f6;
    }
    thead {
        background: #f6f6f6;
        color: #000;
        text-align: left;
    }
    tr:nth-child(2n) {
        background-color: #fcfcfc;
    }
    td,
    th {
        padding: 1rem 0.6rem;
        line-height: 2rem;
    }
    td {
        min-width: 10rem;
    }
    blockquote {
        margin: 1em 0;
        border-left: 4px solid #ddd;
        padding: 0 1.3rem;
    }
    blockquote > p {
        margin: 0.6rem 0;
    }
    ol,
    ul {
        padding-left: 2.7rem;
    }
    ol li,
    ul li {
        margin-bottom: 0.6rem;
    }
    figure figcaption {
        margin-top: 2px;
        line-height: 1.6;
    }
    blockquote {
        color: #666;
        padding: 1px 23px;
        margin: 22px 0;
        border-left: 4px solid #cbcbcb;
        background-color: #f8f8f8;
    }
    blockquote:after {
        display: block;
        content: '';
    }
    blockquote > p {
        margin: 10px 0;
    }
    blockquote.warning {
        position: relative;
        border-left-color: #f75151;
        margin-left: 8px;
    }
    blockquote.warning:before {
        position: absolute;
        top: 14px;
        left: -12px;
        background: #f75151;
        border-radius: 50%;
        content: '!';
        width: 20px;
        height: 20px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    ol,
    ul {
        padding-left: 28px;
    }
    ol li,
    ul li {
        margin-bottom: 0;
        list-style: inherit;
    }
    ol li.task-list-item,
    ul li.task-list-item {
        list-style: none;
    }
    ol li.task-list-item ol,
    ol li.task-list-item ul,
    ul li.task-list-item ol,
    ul li.task-list-item ul {
        margin-top: 0;
    }
    ol li {
        padding-left: 6px;
    }
    pre {
        position: relative;
        line-height: 1.75;
    }
    ol ol,
    ol ul,
    ul ol,
    ul ul {
        margin-top: 0.27rem;
    }
    figure {
        margin: 22px auto;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #333;
        line-height: 1.5;
        margin-top: 35px;
        margin-bottom: 10px;
        padding-bottom: 5px;
    }

    h1 {
        font-size: 30px;
        margin-bottom: 5px;
    }

    h2 {
        padding-bottom: 12px;
        font-size: 24px;
        border-bottom: 1px solid #ececec;
    }

    h3 {
        font-size: 18px;
        padding-bottom: 0;
    }

    h4 {
        font-size: 16px;
    }

    h5 {
        font-size: 15px;
    }

    h6 {
        margin-top: 5px;
    }

    h1.heading + h2.heading {
        margin-top: 20px;
    }

    h1.heading + h3.heading {
        margin-top: 15px;
    }

    .heading + .heading {
        margin-top: 0;
    }

    h1 + :not(.heading) {
        margin-top: 25px;
    }
    .hljs{
        border-radius: 0;
        line-height: 1.7;
        // background: #2d2d2d;
    }
}

@media (max-width: 720px) {
    .article-body {
        h1 {
            font-size: 24px;
        }

        h2 {
            font-size: 20px;
        }

        h3 {
            font-size: 18px;
        }

     
    }
}

@media (max-width: 720px) {
    .article-body {
      
    }
}
