@charset "UTF-8";

/********rest style***********/

body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Tahoma, Arial, 'Microsoft Yahei', 'PingFang SC', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', sans-serif
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: 0.24rem;
    margin: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* set html5 elements to block */

ul,
div,
article,
aside,
footer,
header,
hgroup,
menu,
nav,
section {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

a {
    text-decoration: none;
    transition: color 218ms cubic-bezier(.42, 0, .58, 1);
}

a:hover {
    text-decoration: none;
}

li {
    list-style: none;
}


/*container width*/

input[type=search] {
    -webkit-appearance: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

input {
    -webkit-appearance: none;
}

input[type="text"] {
    -webkit-appearance: none;
}

textarea {
    -webkit-appearance: none;
}

img {
    border: 0;
    max-width: 100%;
    vertical-align: middle;
}

input,
button,
select,
textarea {
    border: 0 none;
    box-shadow: none;
    outline: 0 none;
    font-family: "Helvetica Neue", Helvetica, Tahoma, Arial, 'Microsoft Yahei', 'PingFang SC', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', sans-serif
}

address,
em,
i {
    font-style: normal;
}

textarea {
    resize: none;
}

html {
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

label {
    cursor: pointer;
}
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar
{
    width: 10px;
    height: 10px;
    background-color: #F5F5F5;
    cursor: pointer;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
{
    background-color: #F5F5F5;
}
 
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
    background-color: rgba(#555,0.4);
}